/* GENERAL SETTINGS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    width: 65%;
    margin: 20px auto
}

/* HEADER */
header {
    border-top: 2px solid #f6f6f6;
    padding: 10px 20px;
}

.logo_img {
    height: 50px;
}

.logo_title {
    font-size: 50px;
    padding: 15px 0;
}

/* MAIN */
main {
    background-color: #f6f6f6;
    padding: 40px 150px;
}

.content {
    background-color: white;
    border-radius: 3px;
}

/* BUTTONS */
.menu_buttons {
    padding: 15px 40px;
}

.button {
    font-weight: bolder;
    font-size: 12px;
    padding: 6px 15px;
    border-radius: 5px;
    border: 2px solid;
}

#Add_Task {
    background-color: #319fe3;
    color: white;
    border-color: #319fe3;
}

#Add_Section {
    border-color: lightgray;
    color: lightgray;
}

/* TASKS */
.tasks {
    border-top: 2px solid #f6f6f6;
}
.task_list {
    padding: 25px 35px;
}

.task_description {
    padding: 10px 5px;
    font-size: 14px;
}

/* LABEL */
.label {
    padding: 7px 10px;
    border-radius: 10px;
    font-size: 10px;
    font-weight: bold;
    color: white;
}

/* LABEL COLORS */
.editorial {
    background-color: #319fe3;
}

.Q1 {
    background-color: #aa4faa;

}

.recruiting {
    background-color: #54bb54;
}

.mobile {
    background-color: orange;
}

.website {
    background-color: #ff84ec;
}

.sales {
    background: rgb(181, 219, 100);
}

/* MARKER */
.marker {
    border-radius: 50%;
    border: 1px solid;
    padding: 1px 4px;
}

/* MARKER COLORS */
.check {
    color: green;
    border-color: green;
}
.delete {
    color: red;
    border-color: red;
    font-size: 9px;
    padding: 4px 5px;
}